.chart {
  margin-right: 0;
  transition: all 0.3s ease;
  background-color: var(--color-foreground);
  border-radius: 8px;
  padding: 20px;
}

.bar {
  position: relative;
  fill: #aaa;
  transition: fill 0.3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  display: inline-block;
}

.bar:hover,
.bar:focus {
  opacity: 0.8;
}

.tooltip {
  display: none;
}

.tooltip-background {
  fill: white;
  display: none;
}

.bar:hover .tooltip-background {
  display: block;
}

.bar:hover .tooltip {
  display: block;
  width: 100%;
}
